* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    line-height: 0.9;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --main-color: #9c8461;
    --main-light: #c2a899;
    --main-dark: #6c443b;
    --product-bg-color: #f8f8f8;
}

#main {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* header */
header.header-fix {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 101;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 30px 0;
}

header.header-fix .navigation {
    padding: 15px 0px;
}

.menu-icon svg {
    fill: var(--main-color);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.logo {
    max-width: 180px;
    height: 65px;
    display: flex;
}

.logo img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    max-height: 65px;
}

.nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;
}

.nav-btns a svg {
    fill: #3f3f3f;
    width: 20px;
    height: 18px;
}

.nav-cart {
    position: relative;
}

.nav-cart span {
    position: absolute;
    left: 8px;
    bottom: 10px;
    color: #ffffff;
    background-color: var(--main-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 600;
    padding-bottom: 2px;
}

.side-menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    overflow-y: auto;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.06);
    z-index: 110;
    transition: all ease 0.6s;
}

.side-menu::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    display: none;
}

#menu-btn:checked~.side-menu {
    left: 0%;
}

#menu-btn:checked~.side-menu::before {
    display: block;
}

#menu-btn {
    display: none;
}

.menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff;
}

.side-menu strong {
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 10px;
    padding: 5px 20px;
    color: #ffffff;
    background-color: var(--main-color);
    border-radius: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f5f5f5;
    font-weight: 800;
}

.menu {
    display: block;
    width: 100%;
}

.menu li a {
    width: 100%;
    padding: 20px;
    display: flex;
    color: #383838;
    margin: 0px;
    font-weight: 500;
    border-bottom: 1px solid #f3f3f3;
    transition: all ease 0.3s;
}

menu li a:hover {
    color: #181818;
}

/* Main grid layout */
.main-content {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 7rem;
    align-items: center;
}

.main-content-image {
    max-width: 100%;
    max-height: 70vh;
}

.main-content-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.main-content-text {
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.main-content-text strong {
    color: var(--main-dark);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 600;
}

.main-content-text h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.7rem;
    color: #313131;
}

.main-content-text p {
    font-size: 0.9rem;
    letter-spacing: 0.2px;
    margin: 30px 0px;
    color: #8a8a8a;
    max-width: 300px;
}

.main-content-text a {
    color: #ffffff;
    background-color: var(--main-color);
    height: 50px;
    display: flex;
    max-width: 150px;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}

.main-content-text a:hover {
    opacity: 0.8;
    /* border-radius: 10px; */
    /* background-color: var(--main-color); */
    color: var(--product-bg-color);
}

.main-content-text span {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #252525;
}

.search-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40vh;
    background-color: #ffffffbb;
    display: none;
    backdrop-filter: blur(30px);
    justify-content: center;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.06);
    /* Correct the 'o' to 0 */
    z-index: 101;
}

.search-input {
    width: 90%;
    height: 100px;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input input {
    width: 100%;
    border: none;
    outline: none;
    margin: 0px;
    font-size: 1.8rem;
    background-color: transparent;
    padding-left: 15px;
}

.search-cencle {

    fill: var(--main-dark);
    font-size: 2rem;
    transition: all ease 0.3s;
}

.search-cencle:hover {
    background-color: #f5f5f5;
    border-radius: 50%;
    opacity: 0.8;
}

.search-bar-active {
    display: block;
    animation: searchanimation 0.4s;
}

@keyframes searchanimations {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0%;
    }
}

/* Login Signup form */
.form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 999;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form.active {
    display: block;
}

.login-form {
    width: 100%;
    max-width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.sign-up-form {
    width: 100%;
    max-width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    display: none;
}

.form-cancle {
    position: absolute;
    right: 20px;
    top: 2px;
    fill: #868686;
}

.login-form strong,
.sign-up-form strong {
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.login-form form,
.sign-up-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input,
.sign-up-form input {
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
}

.login-form input::placeholder,
.sign-up-form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"] {
    background-color: var(--main-color);
    color: #ffffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.login-form input[type="submit"]:hover,
.sign-up-form input[type="submit"]:hover {
    background-color: var(--main-dark);
    color: #ffffff;
}

.form-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
    margin-top: 10px;
}

.form-btns a {
    color: #d4d4d4;
    font-size: 0.9rem;

}

.form-btns a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.forms,
.login-form,
.sign-up-form {
    display: none;
}

.login-active,
.sign-up-active {
    display: flex;
}

.login-active .login-form,
.sign-up-active .sign-up-form {
    display: flex;
    animation: fade 0.4s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Popular-section */
#popular {
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    margin-top: 10px;
}

#popular h2,
#recent-products h2 {
    color: #333333;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.popular-container {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 50px;
    margin-top: 20px;
    align-items: flex-start;
}

.popular-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.product-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-box-img {
    width: 100%;
    max-height: 400px;
    height: 100%;
    position: relative;
    background-color: var(--product-bg-color);
    padding: 20px;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.product-box-img :hover {
    opacity: 0.8;
}

.product-box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-box-img span {
    position: absolute;
    top: 5PX;
    right: 5px;
    justify-content: flex-end;
    color: #ffffff;
    background-color: var(--main-dark);
    letter-spacing: 2px;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 5px 10px;
}

.product-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-box-text .product-text-title {
    color: #2b2b2b;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 1px;
}

.product-box-text span {
    color: var(--main-dark);
    font-size: 0.9rem;
    font-weight: 500;
    margin: 5px;
    letter-spacing: 1px;
}

.product-box-text span del {
    color: #696969;
}

.product-box-text .product-cart-btn {
    border-top: 1px solid #e9e9e9;
    width: 100%;
    padding: 10px;
    color: #1d1d1d;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}

.product-box-text .product-cart-btn svg {
    margin-right: 5px;
}

.product-box-text .product-cart-btn:hover {
    background-color: var(--main-dark);
    fill: #ffffff;
    color: #ffffff;
    border: top 1px solid transparent;
}

.popular-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    padding: 40px 30px;
    background-color: var(--product-bg-color);
    min-height: 500px;
    width: 100%;
}

.popular-banner:hover {
    opacity: 0.8;
}

.popular-banner-img {
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.popular-banner-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.popular-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popular-banner-text h3 {
    color: #1d1d1d;
    font-weight: 500;
    font-size: 1.6rem;
}

.popular-banner-text a {
    color: var(--main-dark);
    font-weight: 500;
    margin-top: 10px;
}

/* shopping-banner */
.shopping-banner {
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

.shopping-banner-container {
    background-color: var(--product-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1100px;
    padding: 50px;
    margin: auto;
}

.shopping-banner-img {
    height: 400px;
    display: flex;
    justify-content: center;
}

.shopping-banner-img img {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.shopping-banner-text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.shopping-banner-text strong {
    letter-spacing: 10px;
    color: var(--main-dark);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.shopping-banner-text h3 {
    color: #202020;
    font-size: 1.8rem;
    letter-spacing: 3px;
}

.shopping-banner-text p {
    line-height: 25px;
    color: #686868;
    margin: 10px 0;
}

.shopping-banner-text a {
    color: #ffffff;
    margin-top: 10px;
    background-color: var(--main-dark);
    max-width: 160px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}

.shopping-banner-text a:hover {
    opacity: 0.8;
}

/* Recent Products */
#recent-products {
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
}

.recent-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 20px;
}

/* partner */
#partner {
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    grid-gap: 15px;
}

#partner img {
    height: 50px;
    object-fit: contain;
    object-position: center;
    filter: grayscale(1);
    opacity: 0.3;
    transition: all ease 0.3s;
}

#partner img:hover {
    filter: grayscale(0);
    opacity: 1;
}


/* download-app */
#download-app {
    max-width: 1150px;
    width: 100%;
    background-color: var(--product-bg-color);
    height: 400px;
    margin: 150px auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-text-and-btns{
    display: flex;
    flex-direction: column;
}
.download-btns {
    display: flex;
    margin-top: 20px;
    /* display: flex;
    flex-direction: column; */
}

.download-btns a {
    height: 44px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.download-btns a img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.download-app-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.download-app-text strong {
    color: #393939;
    font-size: 1.56rem;
    letter-spacing: 2px;
}

.download-app-text p {
    color: #3b3b3b;
    margin: 20px 0px;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
}

.app-img {
    max-width: 400px;
    width: 275px;
    height: 550px;
    background-color: #ffffff;
    border: 4px solid #393939;
    border-radius: 20px;
    overflow: hidden;
}

.app-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top-center;
}


/* Blog-section */
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.blog-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.blog-heading h3 {
    font-size: 1.8rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 20px 0px;
}

.blog-box {
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    background-color: var(--product-bg-color);
}

.blog-box:hover {
    opacity: 0.8;
}

.blog-img {
    width: 100%;
    height: 100%;
    max-height: 280px;
}

.blog-img img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.blog-text span {
    color: var(--main-color);
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    color: #272727;
    font-weight: 500;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    margin-bottom: 25px;
    color: var(--main-color);
    transition: all ease 0.3s;
}

.blog-text a:hover {
    color: var(--main-dark);
}

/* services-section */
#services {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    grid-gap: 10px;
}

.service-box {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.055);
    min-height: 250px;
    padding-bottom: 10px;
    flex-grow: 0.7;

}

.service-box svg {
    fill: var(--main-dark);
    font-size: 2rem;
    margin: 15px;
}

.service-box span {
    color: #222222;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.service-box p {
    color: #878787;
    margin: 0px;
    font-size: 0.9rem;
}

/* footer-section */
footer {
    width: 100%;
    background-color: var(--product-bg-color);
}

.footer-container {
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-company-box,
.footer-subscribe {
    max-width: 330px;
}

.footer-company-box .footer-logo {
    color: #333333;
    max-width: 150px;
    display: flex;
}

.footer-company-box .footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.footer-company-box p,
.footer-subscribe p {
    line-height: 20px;
    color: #585858;
    margin: 5px 0px;
}

.footer-social {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.footer-social a {
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #333333;
    border: 1px solid #e9e9e9;
    font-size: 0.9rem;
}

.footer-social a:hover {
    fill: #ffffff;
    background-color: var(--main-dark);
    border: 1px solid transparent;
}

.footer-link-box {
    display: flex;
    flex-direction: column;
}

.footer-link-box strong,
.footer-subscribe strong {
    font-size: 1.2rem;
    font-weight: 600;
    color: #3b3b3b;
}

.footer-link-box ul {
    margin-top: 5px;
}

.footer-link-box ul li a {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #585858;
    transition: all ease 0.5s;
}

.footer-link-box ul li a:hover {
    color: var(--main-dark);
}

.subscibe-box {
    max-width: 320px;
    width: 100%;
    border: 1px solid #dadada;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
}

.subscibe-box input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px 15px;
}

.subscibe-box button {
    color: #ffffff;
    border: none;
    outline: none;
    background-color: var(--main-dark);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding: 0px 20px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.subscibe-box button:hover {
    opacity: 0.8;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
    padding: 20px 0px;
    max-width: 1200px;
    margin: auto;
    width: 90%;
    border-top: 1px solid #eee;
}

.footer-bottom span {
    color: #252525;
    font-size: 0.9rem;
}

/* making responsive */
@media (max-width:1200px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    #download-app {
        width: 90%;
    }
}

@media (max-width:1100px) {
    .popular-container {
        grid-template-columns: 1fr;
    }

    .popular-banner-img {
        max-height: 500px;
    }
}

@media (max-width:1024px) {
    body{
        overflow-x: hidden;
    }
    .main-content-text strong{
      font-size: 1.5rem;
    }
    .main-content-text h1{
        font-size: 2rem;
    }
    .main-content-text p{
        font-size: 15px;
    }

    .recent-product-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    #download-app {
        flex-direction: column;
        height: 100%;
        background-color: transparent;
        margin: 30px auto;
        max-width: 100%;
    }

    .app-img {
        height: 450px;
        width: 220px;
    }

    .download-app-text {
        max-width: 100%;
        background-color: var(--product-bg-color);
        padding: 20px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .main-content-image {
        max-height: 60vh;
    }

    .main-content-text {
        margin-top: 30px;
        max-width: 100%;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .main-content-text p {
        max-width: 400px;
        margin: 40px;
    }

    .main-content-text h1 {
        font-size: 2rem;
        line-height: 2.4rem;
    }

    .main-content-text a {
        padding: 0px 20px;
    }

}

@media (max-width:850px) {
    body{
        overflow-x: hidden;
    }
.blog-box{
    display: flex;
    flex-direction: column;
}
    .blog-container{
        grid-template-columns: 1fr 1fr;
    }
    #partner {
        margin-top: 20px;
        justify-content: center;
        grid-gap: 30px;
    }

    #partner img {
        height: 40px;
    }

    #shopping-banner {
        padding: 20px;
    }

    .shopping-banner-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .shopping-banner-img {
        height: auto;
        width: 90%;
    }

    .shopping-banner-img img {
        width: 100%;
    }

    .shopping-banner-text {
        width: 90%;
        margin-top: 30px;
    }

    .navigation {
        padding: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        height: 30px;
    }

    .logo img {
        max-height: 30px;
    }

    header.header-fix .navigation {
        padding: 10px 20px;
    }
.download-btns{
    align-items: center;
    margin-left: 120px;
}
.download-app-text{
    margin-top: 20px;
}
}

@media (max-width:724px) {
    body{
        overflow-x: hidden;
    }

    .recent-product-container,
    .popular-product-container{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .blog-container{
        grid-template-columns: 1fr;
    }
    .login-form,
    .sign-up-form{
        width: 90%;
    }
    .search-input{
        height: 60px;
    }
    .search-input input,
    .search-cencle{
        font-size: 1.4rem;
    }
}

@media (max-width:550px) {
    body{
        overflow-x: hidden;
    }

    .footer-container{
        grid-template-columns: 1fr;
    }
    .service-box{
        width: 100%;
    }
    .download-btns{
        margin: auto;
    }
}

@media (max-width:320px) {
    body{
        overflow-x: hidden;
    }
    .recent-product-container,
    .popular-product-container{
        grid-template-columns: 1fr;
    }
    .download-btns{
        flex-direction: column;
         margin: auto;
    }
    .download-btns a{
        margin: 4px 0;
        width: 140px;
    }
    .download-btns a img{
        width: 100%;
    }
    .download-app-text strong{
        font-size: 1.3rem;
    }
}
